/* ----- Base Imports ----- */
/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2px;
  font-weight: 1rem;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  overflow-x: hidden;
}

.main {
  margin-right: 0;
}

div {
  display: block;
}

input {
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 1em;
  color: red;
}

h2,
h3,
a {
  color: #093a58;
}

h2,
h3 {
  margin: 0 0 0.8em 0;
}

.subheading {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

/* ----- Layout Imports ----- */
/* ---- Article Styling ---- */
.banner {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.owl-height {
  min-height: 600px !important;
  min-width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  margin: 1.5em 0.8em 0.8em;
  border: 1px solid #999aa2;
  text-align: center;
  position: relative;
  top: 0;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
}
.col:hover {
  border-color: transparent;
  top: -10px;
  transition: 0.5s ease !important;
}

.news {
  width: 80%;
  background: #fff;
  margin: 0 0.5em 0.8em;
  border: 1px solid #CCC;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  transition: 0.5s ease;
}
.news:hover {
  top: -10px;
  transition: 0.5s ease !important;
}

.news-1 {
  flex: 1;
}

.news-2 {
  flex: 1;
}

.news-3 {
  flex: 1;
}

.block {
  padding: 30px;
}
.block .button {
  background-color: #3a3a3a;
  margin-bottom: 20px;
}
.block .img {
  margin-top: 20px;
}

.user {
  display: table;
  width: 100%;
  font-size: 0.875rem;
  margin-top: 30px;
  padding-top: 30px;
}

.secondary-content {
  color: #fff;
  background-color: #333645;
  padding-top: 50px;
  padding-bottom: 50px;
}

.signup {
  color: #666;
  background: #ddd;
  padding: 50px 50px;
  margin-top: 20px;
}

.item,
.article {
  padding: 15px;
  margin: 5px;
  border-radius: 3px;
}

.item-1,
.item-2,
.item-3 {
  flex: 1 333px;
}

.item-4,
.item-5,
.item-6,
.item-7 {
  flex: 1 250px;
}

.user_name,
.user_email {
  height: 50px;
  width: 100%;
  font-size: 1em;
  box-shadow: #3a3a3a;
}

.bar {
  padding-top: 50px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.headings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.search {
  display: flex;
}

.search-form {
  margin-top: 11px;
  position: relative;
}

.secondary-nav {
  height: 100px;
  background-color: #333645;
}
.secondary-nav a {
  color: #fff;
}
.secondary-nav:hover {
  color: #fff;
  text-decoration: none;
}

.triangle {
  position: absolute;
  z-index: 100;
  visibility: none;
}

.nav-container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.top-nav {
  width: 200px;
  font-size: 1.125rem;
}

.top-nav small {
  font-size: 0.625rem;
}

.nav-dropdown {
  margin-top: -10px;
  left: 0;
  width: 100%;
  color: #FFF;
  z-index: 99;
  background-color: #333645;
  position: absolute;
  padding-top: 80px;
  padding-bottom: 50px;
  visibility: hidden;
}

.top-nav:hover .nav-dropdown {
  visibility: visible;
}
.top-nav:hover .triangle {
  visibility: visible;
  width: 200px;
  height: 35px;
  transform: translate(-14px, 0px);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0%);
          clip-path: polygon(0 0, 50% 100%, 100% 0%);
}

.owl-item {
  position: static;
}

.banner-item:after {
  content: "";
  z-index: 3 !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, transparent 25%, #000);
}

.banner-item img {
  z-index: 2;
}

.banner-item {
  height: 700px;
  position: relative;
  width: 100%;
}

.banner-carousel {
  color: #fff;
  min-height: 740px !important;
  min-width: 100vw !important;
  position: relative;
}
.banner-carousel a {
  color: #fff;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 50px;
  position: absolute;
  color: #fff;
  top: 200px;
  z-index: 4;
}

.banner-content h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  color: #fff;
  font-weight: 600;
}

.banner-content p {
  margin-bottom: 0.375rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.banner-content a {
  padding: 5px 20px;
  font-size: 1.25rem;
  font-size: 1.625rem;
  line-height: 2.5rem;
  margin-top: 1.938rem;
  margin-bottom: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.banner-content i {
  margin-left: 5px;
}

.owl-dots {
  position: relative;
  z-index: 4;
  top: -50px;
  color: #fff;
}

@media (min-width: 992px) {
  .banner-content {
    margin-left: 150px;
  }
  .banner-content h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .banner-content p {
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
}
.our-services-container {
  margin-bottom: 50px;
}

.row {
  margin-bottom: 50px;
}

.carousel, .client-list {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

@media (max-width: 767px) {
  .client-list {
    display: none;
  }
}
.popup {
  visibility: hidden;
  position: absolute;
  color: #fff;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -100%);
}

.client-item:hover .popup {
  visibility: visible;
  background-color: aquamarine;
}
.client-item:hover .popup-triangle {
  visibility: visible;
  width: 75px;
  height: 35px;
  background-color: #333645;
  left: 50%;
  transform: translate(-50%, -1px);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0%);
          clip-path: polygon(0 0, 50% 100%, 100% 0%);
}

.popup-banner {
  width: 250px;
  text-align: center;
  background-color: #333645;
  color: #FFF;
  padding: 20px 10px;
}
.popup-banner hr {
  background: white;
  width: 28px;
  height: 3px;
  border: none;
}

.popup-triangle {
  position: absolute;
  z-index: 100;
  visibility: hidden;
}

.review-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.news {
  margin-bottom: 40px;
}

.user {
  border-top: 1px solid #888;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.footer-row a:hover {
  text-decoration: underline;
}

.offices,
.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-license {
  display: flex;
}

.sitemap:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #888;
  padding-top: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: baseline;
}

.social-media {
  display: flex;
}

.side-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333645;
  min-width: 275px;
  height: 100vh;
  overflow-x: hidden;
  z-index: 101;
  transition: 0.4s;
}

.side-menu__small {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 21px;
}

@media (min-width: 992px) {
  .side-menu {
    width: 350px;
  }
  .side-menu__small {
    display: none;
  }
  .menu-open {
    margin-right: 350px !important;
  }
}
@media (max-width: 992px) {
  .side-menu__large {
    display: none;
  }
}
.side-menu__contact {
  color: #fff;
  padding: 1.25em;
  text-align: center;
  background-color: #333645;
  border-radius: 0.1875em;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1.125em;
  width: 13em;
  margin-top: 1.125em;
  font-size: 1.125em;
}
.side-menu__contact a {
  color: #fff;
}

.side-menu__service {
  margin-top: 20px;
}

.services_btn {
  color: #fff;
  text-decoration: none;
  padding: 19px 0px 18px;
  display: block;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px solid hsla(0deg, 0%, 100%, 0.1);
}

.sm_service-items {
  margin-top: 20px;
  border-radius: 3px;
  overflow: hidden;
}

.sm_service-items ul li {
  border-top: 0.5px solid rgba(255, 255, 255, 0.05);
  box-shadow: inset 0px -1px 1px #000;
  color: #fff;
  text-align: center;
  width: 14.5em;
  padding: 0.8125em;
  background-color: #282b36;
}
.sm_service-items ul li a {
  color: #fff;
}

.side-nav__header a {
  display: block;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1;
  position: relative;
  background-color: #333645;
  border-top: 0.5px solid rgba(255, 255, 255, 0.05);
  box-shadow: inset 0px -1px 1px #000;
}

.side-nav__item {
  border-top: 1px solid hsla(0deg, 0%, 100%, 0.05);
  box-shadow: inset 0px -1px 1px #000;
  color: #fff;
  padding: 1.25em 0 1.25em 1.25em;
  background-color: #282b36;
  font-size: 0.90625em;
}
.side-nav__item a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.side-nav__item i {
  font-size: 0.60625em;
  margin-right: 10px;
}

.cookie-consent {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center !important;
  padding: 30px;
  display: none;
}

.cookie-popup {
  background-color: #fff;
  color: #000;
  width: auto;
  position: relative;
  transform: transalte(-50%, -50%);
  top: 30%;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
  z-index: 101;
}
.cookie-popup a {
  color: #fff;
}

@media (min-width: 762px) {
  .cookie-popup {
    width: 600px;
    margin: 30px auto;
  }
}
.cookie-header {
  padding: 15px 20px;
}

.cookie-popup h2 {
  margin: 0;
  line-height: 1.42857143;
  font-size: 1.625rem;
  font-weight: 400;
  color: #333645;
}

.cookie-content {
  border-top: 1px solid #e5e5e5;
  padding: 20px;
}

.cookie-popup p {
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
  text-align: justify;
  margin: 20px 0;
}

.cookie-button_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  height: 90px;
}

.cookie-buttons {
  text-decoration: none;
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
}

.cookie-button {
  background-color: #926fb1;
}
.cookie-button:hover {
  background-color: #785993;
}

.manage-cookies {
  background-color: #888;
  margin-bottom: 30px;
}
.manage-cookies:hover {
  background-color: rgb(97, 96, 96);
}

.spacer {
  padding-left: 15px;
  padding-right: 15px;
}

.main-footer {
  text-align: center;
  background-color: #333645;
  color: #fff;
  padding: 47px 0 43px;
}
.main-footer a {
  color: #fff;
}

.service,
.office {
  padding: 15px;
  justify-content: space-evenly;
}

.services,
.offices h4 {
  left: 0;
}

.services {
  display: flex;
  align-items: flex-start;
}

.service ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service, .office li {
  line-height: 1.7rem;
  font-size: 1rem;
}

.service label {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 26px;
  font-weight: 500;
}

.office label {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 26px;
  font-weight: 500;
}

.offices ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.office {
  margin-top: 20px;
  margin-bottom: 15px;
}

/*# sourceMappingURL=header.css.map */
.header {
  background-color: #fff;
  width: 100%;
  padding-top: 0.5em;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 300ms ease-in-out;
}

.scroll-up header {
  position: fixed;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.upper {
  padding: 20px 15px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.name {
  float: left;
  font-size: 2em;
  margin: auto;
  width: 100%;
  max-width: 392px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  float: left;
}

.important-nav {
  display: flex;
}

.name a,
.nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

.nav a {
  text-transform: uppercase;
}

.nav-icon:hover {
  color: #fff;
}

/* ----- Component Imports ----- */
.form-control {
  height: 47px;
  padding: 5px 15px;
  border-color: #ccc;
  border: 1px solid #e5e5e5;
}
.form-control:focus {
  border-color: #5bc0de;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
  outline: none;
}

.signup-button {
  color: #fff;
  text-align: center;
  padding: 0.625em 1.25em;
  background: #333645;
  border-radius: 0.35em;
}

.banner-button {
  height: 50px;
  width: 10em;
  font-size: 20px;
  text-align: center;
  padding: 5px 20px;
  background: #67809f;
  border-radius: 0.35em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
}
.button:hover {
  text-decoration: none;
}

.btn-lg {
  height: auto;
  padding: 5px 20px;
  font-size: 1.25rem;
  line-height: 50px;
  border-radius: 0.35em;
}

.nav-btn {
  display: inline;
  width: 141px;
  height: 56px;
  border: 4px;
  font-size: 18px;
  text-align: center;
  margin: 0 15px 0 15px;
}

.search-bar {
  padding: 15px;
  height: 56px;
  width: 240px;
  margin-left: 10px;
}

.search-btn {
  color: #fff;
  background-color: #999aa2;
  border: none;
  border-radius: 0 3px 3px 0;
  height: 56px;
  width: 56px;
  font-size: 25px;
}

.search-bar-mobile {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid hsla(0deg, 0%, 100%, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: none;
  width: 100%;
  padding-right: 40px;
  height: 50px;
}

.search-submit {
  background: none;
  border: none;
  color: #333645;
  position: absolute;
  right: 5px;
  line-height: 47px;
  font-size: 20px;
  outline: none;
}

.button-1 {
  background-color: #4183d7;
  border-color: #4183d7;
  border-radius: 3px;
}
.button-1 a {
  color: #fff;
}

.button-2 {
  background-color: #999aa2;
  border-color: #999aa2;
  border-radius: 3px;
}
.button-2 a {
  color: #fff;
}

.button-1 a, .button-2 a {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.checkbox {
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.checkbox:checked {
  accent-color: #333645 !important;
  border-color: #333645 !important;
}

.read-more {
  background-color: rgb(39, 41, 54);
}

.review-btn {
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
}

.g-reviews {
  background-color: rgb(67, 135, 246);
  margin-right: 8px;
  margin-bottom: 20px;
}

.t-reviews {
  background-color: rgb(0, 182, 123);
  margin-bottom: 20px;
}

.fa-star {
  font-size: 50px;
  color: orange;
  margin-bottom: 25px;
}

.hamburger {
  color: #fff;
  background-color: #333645;
  border-radius: 5%;
  width: 60px;
  font-size: 25px;
}

.phone-icon {
  display: block;
  width: 60px;
  font-size: 35px;
  width: 100%;
}

.icon {
  margin-bottom: 20px;
  line-height: unset;
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  align-items: center;
  color: #fff;
}

.col:hover .icon {
  background-color: #fff;
}

.social {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 7px 10px 10px;
  max-height: 38px;
}

.required:after {
  content: " *";
  color: #d24d57;
}

.topic-header {
  font-size: 40px;
}

.view-all {
  font-size: 25px;
}

.headline,
.tagline {
  margin-left: 1.25em;
}

.view-all:hover {
  text-decoration: underline;
}

.nav-dropdown h3 {
  font-size: 1.875em;
}

.nav-dropdown li {
  font-size: 1.25rem;
}

.col h2 {
  font-size: 1.3rem;
}

.article-heading {
  color: #fff;
  font-size: 2.5em;
}

.article-content {
  font-size: 1.5em;
}
.article-content p {
  margin: 0 1.5em 1em 1.5em;
}

.client-quote {
  font-size: 1.8em;
  font-style: italic;
}

.quote-author {
  font-size: 1.5em;
  color: #a3a8ac;
}

.details {
  font-size: 1.2em;
}

.subheading-2 {
  font-size: 2em;
  color: #333645;
  font-weight: 400;
}

.sign-up-input h3 {
  font-size: 1.4em;
  font-weight: 600;
}

.sign-up-button-container {
  font-size: 1.3em;
  color: #333645;
}
.sign-up-button-container i {
  color: #fff;
}

.privacy-policy {
  color: #333645;
  font-size: 1.2em;
  font-weight: 600;
}

.privacy-policy a {
  text-decoration: underline;
}

.news-img {
  max-width: 100%;
}

.top-logo {
  max-width: 100%;
  display: block;
}

.carousel-item, .client-item {
  margin: 30px;
  filter: grayscale(100%);
}
.carousel-item:hover, .client-item:hover {
  filter: grayscale(0);
}

.client-img, .carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-item img {
  margin-right: 20px;
}

.banner-img {
  width: 100%;
  height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -40px;
}

.item-1 a {
  background-color: #67809f;
}
.item-1:hover {
  background-color: #67809f;
  color: #fff;
}
.item-1:hover h2 {
  color: #fff;
}
.item-1:hover a {
  color: #67809f;
  background-color: #fff;
}
.item-1:hover i {
  color: #67809f;
  background-color: #fff;
}

.icon-1 {
  background-color: #67809f;
}

.nav-item-1 i {
  color: #67809f;
}
.nav-item-1:hover {
  background-color: #67809f;
  color: #fff;
  text-decoration: none;
}
.nav-item-1:hover i {
  color: #fff;
}
.nav-item-1:hover .triangle {
  background-color: #67809f;
}
.nav-item-1:hover .nav-dropdown {
  background-color: #526781;
}
.nav-item-1:hover .nav-dropdown h3 {
  color: #fff;
}

.services_btn-1 i {
  color: #67809f;
}

.item-2 a {
  background-color: #4183d7;
}
.item-2:hover {
  background-color: #4183d7;
  color: #fff;
}
.item-2:hover h2 {
  color: #fff;
}
.item-2:hover a {
  color: #4183d7;
  background-color: #fff;
}
.item-2:hover i {
  color: #4183d7;
  background-color: #fff;
}

.icon-2 {
  background-color: #4183d7;
}

.nav-item-2 i {
  color: #4183d7;
}
.nav-item-2:hover {
  background-color: #4183d7;
  color: #fff;
  text-decoration: none;
}
.nav-item-2:hover i {
  color: #fff;
}
.nav-item-2:hover .triangle {
  background-color: #4183d7;
}
.nav-item-2:hover .nav-dropdown {
  background-color: #286abd;
}
.nav-item-2:hover .nav-dropdown h3 {
  color: #fff;
}

.services_btn-2 i {
  color: #4183d7;
}

.item-3 a {
  background-color: #2ecc71;
}
.item-3:hover {
  background-color: #2ecc71;
  color: #fff;
}
.item-3:hover h2 {
  color: #fff;
}
.item-3:hover a {
  color: #2ecc71;
  background-color: #fff;
}
.item-3:hover i {
  color: #2ecc71;
  background-color: #fff;
}

.icon-3 {
  background-color: #2ecc71;
}

.nav-item-3 i {
  color: #2ecc71;
}
.nav-item-3:hover {
  background-color: #2ecc71;
  color: #fff;
  text-decoration: none;
}
.nav-item-3:hover i {
  color: #fff;
}
.nav-item-3:hover .triangle {
  background-color: #2ecc71;
}
.nav-item-3:hover .nav-dropdown {
  background-color: #25a25a;
}
.nav-item-3:hover .nav-dropdown h3 {
  color: #fff;
}

.services_btn-3 i {
  color: #2ecc71;
}

.item-4 a {
  background-color: #d64541;
}
.item-4:hover {
  background-color: #d64541;
  color: #fff;
}
.item-4:hover h2 {
  color: #fff;
}
.item-4:hover a {
  color: #d64541;
  background-color: #fff;
}
.item-4:hover i {
  color: #d64541;
  background-color: #fff;
}

.icon-4 {
  background-color: #d64541;
}

.nav-item-4 i {
  color: #d64541;
}
.nav-item-4:hover {
  background-color: #d64541;
  color: #fff;
  text-decoration: none;
}
.nav-item-4:hover i {
  color: #fff;
}
.nav-item-4:hover .triangle {
  background-color: #d64541;
}
.nav-item-4:hover .nav-dropdown {
  background-color: #bc2c28;
}
.nav-item-4:hover .nav-dropdown h3 {
  color: #fff;
}

.services_btn-4 i {
  color: #d64541;
}

.item-5 a {
  background-color: #926fb1;
}
.item-5:hover {
  background-color: #926fb1;
  color: #fff;
}
.item-5:hover h2 {
  color: #fff;
}
.item-5:hover a {
  color: #926fb1;
  background-color: #fff;
}
.item-5:hover i {
  color: #926fb1;
  background-color: #fff;
}

.icon-5 {
  background-color: #926fb1;
}

.nav-item-5 i {
  color: #926fb1;
}
.nav-item-5:hover {
  background-color: #926fb1;
  color: #fff;
  text-decoration: none;
}
.nav-item-5:hover i {
  color: #fff;
}
.nav-item-5:hover .triangle {
  background-color: #926fb1;
}
.nav-item-5:hover .nav-dropdown {
  background-color: #79539a;
}
.nav-item-5:hover .nav-dropdown h3 {
  color: #fff;
}

.services_btn-5 i {
  color: #926fb1;
}

.item-6 a {
  background-color: #f62459;
}
.item-6:hover {
  background-color: #f62459;
  color: #fff;
}
.item-6:hover h2 {
  color: #fff;
}
.item-6:hover a {
  color: #f62459;
  background-color: #fff;
}
.item-6:hover i {
  color: #f62459;
  background-color: #fff;
}

.icon-6 {
  background-color: #f62459;
}

.nav-item-6 i {
  color: #f62459;
}
.nav-item-6:hover {
  background-color: #f62459;
  color: #fff;
  text-decoration: none;
}
.nav-item-6:hover i {
  color: #fff;
}
.nav-item-6:hover .triangle {
  background-color: #f62459;
}
.nav-item-6:hover .nav-dropdown {
  background-color: #de093f;
}
.nav-item-6:hover .nav-dropdown h3 {
  color: #fff;
}

.services_btn-6 i {
  color: #f62459;
}

.item-7 a {
  background-color: #ce4125;
}
.item-7:hover {
  background-color: #ce4125;
  color: #fff;
}
.item-7:hover h2 {
  color: #fff;
}
.item-7:hover a {
  color: #ce4125;
  background-color: #fff;
}
.item-7:hover i {
  color: #ce4125;
  background-color: #fff;
}

.icon-7 {
  background-color: #ce4125;
}

.nav-item-7 i {
  color: #ce4125;
}
.nav-item-7:hover {
  background-color: #ce4125;
  color: #fff;
  text-decoration: none;
}
.nav-item-7:hover i {
  color: #fff;
}
.nav-item-7:hover .triangle {
  background-color: #ce4125;
}
.nav-item-7:hover .nav-dropdown {
  background-color: #a3331d;
}
.nav-item-7:hover .nav-dropdown h3 {
  color: #fff;
}

.services_btn-7 i {
  color: #ce4125;
}

.button-1:hover {
  background-color: #2a63ac;
  text-decoration: none;
}

.button-2:hover {
  background-color: #74747a;
  text-decoration: none;
}

.button-3:hover {
  background-color: #74747a;
  text-decoration: none;
}

.button-4:hover {
  background-color: #23252f;
  text-decoration: none;
}

.button-5:hover {
  background-color: #415063;
  text-decoration: none;
}

.button-6:hover {
  background-color: #121318;
  text-decoration: none;
}

.button-7:hover {
  background-color: #166af4;
  text-decoration: none;
}

.button-8:hover {
  background-color: #009b69;
  text-decoration: none;
}

.button-9:hover {
  background-color: #22242e;
  text-decoration: none;
}

.social-1:hover {
  background-color: #3b5998;
  border-radius: 50%;
  text-decoration: none;
}

.social-2:hover {
  background-color: #00aced;
  border-radius: 50%;
  text-decoration: none;
}

.social-3:hover {
  background-color: #d93175;
  border-radius: 50%;
  text-decoration: none;
}

.social-4:hover {
  background-color: #0077b5;
  border-radius: 50%;
  text-decoration: none;
}

.learn-1 {
  background-color: #926fb1;
}
.learn-1:hover {
  background-color: #79539a;
}

.learn-2 {
  background-color: #67809f;
}
.learn-2:hover {
  background-color: #526781;
}

.learn-3 {
  background-color: #4183d7;
}
.learn-3:hover {
  background-color: #286abd;
}

.learn-4 {
  background-color: #2ecc71;
}
.learn-4:hover {
  background-color: #25a25a;
}

.learn-5 {
  background-color: #d64541;
}
.learn-5:hover {
  background-color: #bc2c28;
}

.learn-6 {
  background-color: #926fb1;
}
.learn-6:hover {
  background-color: #79539a;
}

.learn-7 {
  background-color: #f62459;
}
.learn-7:hover {
  background-color: #de093f;
}

.banner-img-1 {
  background-image: url("../img/banner/lead-banner.webp");
}

.banner-img-2 {
  background-image: url("../img/banner/bespoke-sfotware-banner.png");
}

.banner-img-3 {
  background-image: url("../img/banner/it-support-banner.webp");
}

.banner-img-4 {
  background-image: url("../img/banner/digital-marketing-banner.webp");
}

.banner-img-5 {
  background-image: url("../img/banner/telemarketing-banner.webp");
}

.banner-img-6 {
  background-image: url("../img/banner/web-design.webp");
}

.banner-img-7 {
  background-image: url("../img/banner/cyber-security-banner.webp");
}/*# sourceMappingURL=application.css.map */