.fa-star{
    font-size: 50px;
    color: orange;
    margin-bottom: 25px;
}

.hamburger{
    color: #fff;
    background-color: #333645;
    border-radius: 5%;
    width: 60px;
    font-size: 25px;
}
.phone-icon{
    display: block;
    width: 60px;
    font-size: 35px;
    width: 100%;
}


.icon {
    margin-bottom: 20px;
    line-height: unset;
    display:flex;
    justify-content: center;
    font-size: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    align-items: center;
    color: #fff;
}

.col:hover {
    .icon{
        background-color: #fff ;
    }
}
.social{
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 7px 10px 10px;
    max-height: 38px;
}
.required:after{
    content: " *";
    color: #d24d57;
}

.fa-arrow-right{
    margin-left: 13px;
}