//==============================================================
// Containers
//==============================================================


// base typography 

.topic-header {
    font-size: 40px;
}
.view-all {
    font-size: 25px;
}

// Banner area

.headline,
.tagline {
    margin-left: 1.25em;
}

.view-all{
    &:hover {
        text-decoration: underline;
    }
}

// nav area content

.nav-dropdown h3{
    font-size: 1.875em;
}
.nav-dropdown li {
    font-size: 1.25rem;
}

// Our services area

.col h2{
    font-size: 1.3rem;
}

// secondary content area

.article-heading{
    color: #fff;
    font-size: 2.5em;
}
.article-content{
    font-size: 1rem;
    margin-bottom: 25px;
    line-height: 1.875rem;
    strong{
        font-weight: 600;
    }
}
.client-quote{
    font-size: 1.3em;
    font-style: italic;
}
.quote-author{
    font-size: 1.1rem;
    font-weight: 600;
    color: #a3a8ac;
    a{
        color: #fff;
        &:hover{
            text-decoration: underline;
        }
    }
}

// Latest news area

.details{
    font-size: 1.2em;
}


// sign up area

.subheading-2{
    font-size: 2em;
    color: #333645;
    font-weight: 400;
}

.sign-up-input{
    h3{
        font-size: 1rem;
        font-weight: 600;
    }
}
.sign-up-button-container{
    font-size: 1.063rem;
    color: #333645;
    i {
        color: #fff;
    }
}
.privacy-policy{
    color:#333645;
    font-size: 1rem;
    font-weight: 600;
    line-height: 32px;
}

.privacy-policy a {
    text-decoration: underline;
}