// ======================================
// Color Map
// ======================================


$colors: (
    a: #67809f,
    b: #4183d7,
    c: #2ecc71,
    d: #d64541,
    e: #926fb1,
    f: #f62459,
    g: #ce4125
);

$button-colors: (
    a: #2a63ac,
    b: #74747a,
    c: #74747a,
    d: #23252f,
    e: #415063,
    f: #121318,
    g: #166af4,
    h: #009b69,
    i: #22242e
);

$social-colors: (
    a: #3b5998,
    b: #00aced,
    c: #d93175,
    d: #0077b5
);

$banner-btns: (
    a: #926fb1,
    b: #67809f,
    c: #4183d7,
    d: #2ecc71,
    e: #d64541,
    f: #926fb1,
    g: #f62459
);

$banner-imgs: (
    a: "../img/banner/lead-banner.webp",
    b: "../img/banner/bespoke-software-banner.webp",
    c: "../img/banner/it-support-banner.webp",
    d: "../img/banner/digital-marketing-banner.webp",
    e: "../img/banner/telemarketing-banner.webp",
    f: "../img/banner/web-design.webp",
    g: "../img/banner/cyber-security-banner.webp",
);

$news-color: (
    a: #009b69,
    b: #2a63ac,
    c: #ce4125,
)