// sticky

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
    transition: top 0.2s ease-in-out;
  }

.nav-up{
    top: -40px;
}




// ====================================
// Loops
// ====================================


@each $name, $color in $colors {
    $i: index($colors, $name $color);
    .item-#{$i} {
        a {
            background-color: $color;
        }
        &:hover{
            background-color: $color;
            color: #fff;
        h2 {
            color: #fff;
        }
        a {
            color: $color;
            background-color: #fff;
        }
        i {
            color: $color;
            background-color: #fff;
        }
        }
    }
    .icon-#{$i} {
        background-color: $color;
    }
    .nav-item-#{$i} {
        i{
            color: $color;
        }
        &:hover {
            background-color: $color;
            color:#fff;
            text-decoration: none;
            i {
                color: #fff;
            }
            .triangle{
                background-color: $color;
            }
            .nav-dropdown{
                background-color: darken($color, 10%);

                h3 {
                    color: #fff;
                }
            }
        }

    }
    .services_btn-#{$i} {
        i {
        color: $color;
        }
    }


}

@each $name, $color in $button-colors {
    $i: index($button-colors, $name $color);
    .button-#{$i} {
        &:hover {
            background-color: $color;
            text-decoration: none;
        }
    }
}
@each $name, $color in $social-colors {
    $i: index($social-colors, $name $color);
    .social-#{$i} {
        &:hover {
            background-color: $color;
            border-radius: 50%;
            text-decoration: none;
        }
    }
}

@each $name, $color in $banner-btns {
    $i: index($banner-btns, $name $color);

    .learn-#{$i} {
        background-color: $color;

        &:hover {
            background-color: darken($color, 10%);
        }
    }

}

@each $name, $src in $banner-imgs {
    $i: index($banner-imgs, $name $src);

    .banner-img-#{$i} {
        background: url('#{$src}')  no-repeat;
        background-size: cover;
    }
}
